# Application port
PORT=4000

# MongoDB uri config
MONGO_URI=mongodb://localhost:27017/octovote

# JWT related
JWT_SECRET=secret
JWT_EXPIRES_IN=1h

# Seed admin password
ADMIN_NAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
SEED_ADMIN=true